footer {
  border-top: 1px solid #e4e5e7;
  padding-block: 24px;
  margin-top: 100px;
}

.top-border {
  border-top: 1px solid #e4e5e7;
}
.app-footer {
  background-color: white;
  position: relative;
  width: 100%;
  bottom: 0;

  .footer-wrapper {
    width: 100%;

    .footer-collapsibles {
      margin-bottom: 8px;
      display: flex;
      flex-flow: row wrap;
      margin-inline: -6px;
      position: relative;
      font-size: 16px;
      .footer-item {
        width: 100%;
        article {
          padding: 0 0 20px;
          .footer-title-wrapper {
            .item-title {
              font-weight: 700;
            }
            display: flex;
            justify-content: space-between;
          }
          .footer-collapsible-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;

            &.display-content {
              max-height: 500px;
            }
            ul {
              padding: 0;
              li {
                padding-bottom: 16px;
                color: #74767e;
              }
            }
          }
        }
      }
    }
  }
}

.chevron-wrapper {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &.chevron-toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 1px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  .left {
    padding: 16px 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-logo {
      display: flex;
      justify-content: center;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -2.5px;
      color: lighten($clr4, 10%);
      .logo-dot {
        color: $clr1;
      }
    }
    .copyright-txt {
      margin-top: 8px;
      font-size: 14px;
      color: $clr5;
    }
  }
  .right {
    .social {
      display: flex;
      gap: 20px;
      color: lighten($clr4, 10%);
      padding: 0;

      img {
        width: 20px;
        opacity: 50%;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer-bottom {
    flex-direction: row;
    .left {
      flex-direction: row;
      gap: 20px;
    }

    .right {
      display: flex;
      .social {
        padding: 0;
      }
    }
  }
  .footer-item {
    .footer-collapsible-content {
      max-height: 560px !important;
      overflow: unset !important;
      padding-right: 20px;
    }
    .footer-title-wrapper {
      .chevron-wrapper {
        display: none;
      }
    }

    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 900px) {
  .footer-item {
    flex-basis: 20%;
    max-width: 20%;
  }
}
