.app-header {
  background-color: white;
  display: grid;
  // padding-inline: 6.5rem;
  border-bottom: 1px solid #e4e5e7;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 9px;
  padding-inline: 32px;
  gap: 5px;
}

.mobile-menu {
  display: flex;
}

.logo-wrapper {
  display: flex;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -2.5px;
  .logo-dot {
    color: $clr1;
  }
}

.header-links ul {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 14px;
  font-weight: 600;
  color: #62646a;
  padding: 0;
  .join-btn {
    background-color: transparent;
    border: none;
  }

  .signin-btn,
  .become-seller-btn {
    display: none;
  }
}

.search-form-wrapper {
  display: none;
  .long-placeholder {
    display: none;
  }

  .short-placeholder {
    display: none;
  }

  .submit-button {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .header-links ul {
    .signin-btn {
      display: block;
    }
    .join-btn {
      border: 1px solid $clr1;
      border-radius: 4px;
      padding: 5px 16px;
      color: $clr1;

      &:hover {
        background-color: $clr1;
        color: white;
      }
    }
  }
  .logo-wrapper {
    padding-right: 10px;
  }

  .search-form-wrapper {
    display: flex;
    flex: 1;

    form {
      flex: 1;
      padding-inline: 30px;
    }

    .short-placeholder {
      display: flex;
      padding: 10px 2px 10px 16px;
      border-radius: 4px;
      outline: none;
      border: 1px solid #c5c6c9;
      font-size: 16px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .search-form-wrapper {
    flex: 1;
    padding-inline: 30px;
    form {
      display: flex;
      align-items: center;
      flex: 1;
    }
    .short-placeholder {
      display: none;
      width: 100%;
    }

    .long-placeholder {
      display: flex;
      padding: 10px 2px 10px 16px;
      border-radius: 4px;
      outline: none;
      border: 1px solid #c5c6c9;
      font-size: 16px;
      width: 100%;
      max-width: 350px;
    }

    .submit-button {
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline: 16px;
      background-color: black;
      border-radius: 0 4px 4px 0;
    }
  }

  .header-links ul {
    .become-seller-btn {
      display: block;
    }
  }
}

@media screen and (min-width: 1160px) {
  .navbar {
    padding-inline: 64px;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding-inline: 110px;
  }
}
