.nav-popover-items-content {
  position: absolute;
  top: 50%;
  margin-top: 25px;
  margin-right: -5px;
  width: 180px;
  padding: 5px;
  color: #62646a;
  border-radius: 5px;
  border: 1px solid rgba(98, 100, 106, 0.2901960784);
  z-index: 99;
  ul {
    flex-wrap: wrap;
    li {
      width: 100%;
      color: #62646a !important;
      cursor: pointer;
      border-bottom: 1px solid rgba(98, 100, 106, 0.2901960784);
      padding: 5px;
      width: 90%;
      margin: auto;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: $clr1 !important;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    right: 0.3125em;
    width: 0;
    height: 0;
    border-left: 0.625em solid transparent;
    border-right: 0.625em solid transparent;
    clear: both;
    transform: rotateX(180deg);
    border-top: 0.625em solid #e5e5e7;
    top: -0.625em;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0.3125em;
    width: 0;
    height: 0;
    border-left: 0.625em solid transparent;
    border-right: 0.625em solid transparent;
    clear: both;
    transform: rotateX(180deg);
    top: -0.46875em;
    border-top: 0.625em solid #fff;
  }
}

svg.lucide.lucide-search {
  cursor: pointer;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.auth-dialog-container {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  dialog.auth-dialog {
    position: fixed;
    top: 5%;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    background-color: white;
    z-index: 100;
    height: 90vh;
    width: 850px;
    border-radius: 12px;

    .dialog-left,
    .dialog-right {
      width: 50%;
      padding: 50px;
    }

    .dialog-left {
      background-image: url("/src/assets/imgs/dialog-background.png");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 12px 0 0 12px;

      h2 {
        color: white;
        font-weight: bold;
        font-size: 32px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        color: white;
        li {
          display: flex;
          font-size: 18px;
          font-weight: 500;
          span {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  .user-img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 25px;
  }
}

.app-header-wrapper {
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 100%;

  .app-header {
    background-color: white;
    transition: 0.5s all ease;
  }
  .header-transparent {
    background-color: transparent;
    .logo-text {
      color: white;
      transition: 0.5s all ease;
    }

    nav ul li {
      color: white;
      transition: 0.5s all ease;
    }
    .join-btn {
      border: 1px solid white;
      color: white;
      transition: 0.5s all ease;
      cursor: pointer;
    }
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 9px;
  gap: 5px;
}

.mobile-menu {
  display: flex;
}

.logo-wrapper {
  display: flex;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -2.5px;
  color: $clr2;
  .logo-dot {
    color: $clr1;
  }
}

.header-links ul {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 16px;
  font-weight: 500;
  color: #62646a;
  padding: 0;
  .join-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .signin-btn,
  .explore-btn {
    display: none;
  }
}

.search-form-wrapper {
  display: none;
  .long-placeholder {
    display: none;
  }

  .short-placeholder {
    display: none;
  }

  .submit-button {
    display: none;
  }
}

.cat-wrapper {
  border-top: 1px solid #e4e5e7;
  background-color: white;
  transition: 0.5s all ease;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid #e4e5e7;
  display: flex;
  justify-content: center;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: max-content;
    li {
      padding: 8px 10px;
      color: $clr4;
      &:hover {
        border-bottom: 3px solid $clr1;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .categories-menu-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: fixed;
    top: 83px;
    z-index: 999;
    background-color: white;
    width: 100%;
    padding-block: 4px;
    border-block: 1px solid #e4e5e7;
    animation: fadeIn 1s;
  }

  .categories-menu-package{
    display: flex;
    // margin-left: -15%;

    button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
    align-items: center;
    }
  }
  .header-links ul {
    .signin-btn {
      display: block;
      cursor: pointer;
    }
    .join-btn {
      border: 1px solid $clr1;
      border-radius: 4px;
      padding: 5px 16px;
      color: $clr1;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background-color: #19a463;
        color: white;
        border-color: #19a463;
      }
    }
  }
  .logo-wrapper {
    padding-right: 10px;
  }

  .search-form-wrapper {
    display: flex;
    flex: 1;
    visibility: hidden;

    &.display {
      visibility: visible;
      animation: fadeIn 1s;
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    form {
      flex: 1;
      padding-right: 30px;
      max-width: 500px;
    }

    .short-placeholder {
      display: flex;
      padding: 10px 2px 10px 16px;
      border-radius: 4px;
      outline: none;
      border: 1px solid #c5c6c9;
      font-size: 16px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .search-form-wrapper {
    flex: 1;
    padding-inline: 30px;
    form {
      display: flex;
      align-items: center;
      flex: 1;
    }
    .short-placeholder {
      display: none;
      width: 100%;
    }

    .long-placeholder {
      display: flex;
      padding: 10px 2px 10px 16px;
      border-radius: 4px;
      outline: none;
      border: 1px solid #e5e5e7;
      font-size: 16px;
      width: 100%;
    }

    .submit-button {
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline: 16px;
      background-color: black;
      border-radius: 0 4px 4px 0;
      border: none;
      &:hover {
        background-color: lighten($color: #000000, $amount: 20%);
      }
    }
  }

  .header-links ul {
    .explore-btn {
      display: block;
      cursor: pointer;
      color: #62646a;
      font-weight: 600;
    }
    [class="sign in-btn"] {
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.signup-header,
.login-header {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.sign-in-link {
  text-decoration: underline;
  padding-left: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;

  select {
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    width: 330px;
    outline: none;
  }

  button {
    font-size: 20px;
    color: white;
    background: black;
    padding: 8px;
  }
}

form.signup-form {
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    margin: 10px;
    margin-inline: 0;
    width: 330px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
  }
  input#imgUpload {
    display: none;
  }
  button {
    font-size: 20px;
    color: white;
    background: black;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1160px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
}
