.selected-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.selected-image-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  box-sizing: content-box; /* Ensure padding is included in the width */
}

.selected-image {
  width: 100%;
  min-width: 100%;
}

.prev-button,
.next-button {
  border-radius: 50%;
  border-width: 0;
  height: 48px;
  width: 48px;
  background-color: white;
  box-shadow: #62646a 0 0.0625em 0.1875em;
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  z-index: 999;
}

.prev-button {
  left: -25px;
}

.next-button {
  right: -25px;
}

.thumbnail-container {
  display: inline-flex;
  height: 60px;
  padding: 5px 0 5px 5px;
}

.thumbnail-container img {
  width: 100px;
  margin-right: 6px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.thumbnail-container img.active {
  opacity: 1;
}