.slider-container {
  width: 100%;
  margin: 0 auto;
  .slick-list {
    margin-bottom: 96px;
  }
  .slider-item {
    padding-inline: 8px;
    picture,
    h4 {
      cursor: pointer;
    }

    img {
      border-radius: 4px;
    }
    h4 {
      position: absolute;
      padding: 15px;
      display: flex;
      flex-direction: column;
      color: white;
      line-height: 22px;
      font-size: 24px;
      font-weight: bold;

      small {
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}

.slick-prev {
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.custom-arrow {
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px #0000008f;
}
