* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  font-family: "Macan", sans-serif;
  color: $clr2;
}

body {
  font-size: rem(18px);
  margin: 0;
  margin: auto;
  // background-color: rgb(255, 255, 255); // for testing
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
  font-weight: 500;
  color: $clr2;
}

h2 {
  margin: 0 0 0.6em;
  line-height: 1;
  font-weight: 500;
  // font-size: 20px;
}

section,
main,
footer {
  padding: 0px;
  
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: $clr3;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
