.main-container {
  display: grid;
  // grid-template-columns: 32px 1fr 32px;

  // padding: 1em 0;
  //min-height: 100vh;
  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  @include for-mobile-layout {
    grid-template-columns: minmax(64px, 1fr) minmax(auto, 1360px) minmax(
        64px,
        1fr
      );
  }
  @include for-narrow-layout {
    grid-template-columns: minmax(64px, 1fr) minmax(auto, 1360px) minmax(
        64px,
        1fr
      );
  }
  @include for-normal-layout {
    grid-template-columns: minmax(64px, 1fr) minmax(auto, 1360px) minmax(
        64px,
        1fr
      );
  }
  @include for-wide-layout {
    grid-template-columns: minmax(64px, 1fr) minmax(auto, 1360px) minmax(
        64px,
        1fr
      );
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
