.review-img-wrapper {
  border-radius: 50%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 1em;
  justify-content: center;
  flex-grow: 1;
  min-width: 1em;
  font-size: 25px;
  font-weight: 700;
  margin: 0px;
  padding: 35px 20px 12px 20px;
  color: white;
  max-width: 50px;
  margin-right: 15px;
}

svg.lucide.lucide-chevron-down.expanded {
  transform: rotate(180deg);
  transition: 0.3s;
}

svg.lucide.lucide-chevron-down.collapsed {
  transition: 0.3s;
}

.gig-index {
  display: grid;
  grid-auto-flow: column;
  column-count: 2;
  grid-template-areas: "details side";
  width: 100%;
  // testing

  .gig-details {
    min-width: 42vw;
    grid-area: details;

    .details-header {
      width: 100%;
      padding: 32px 24px 0px;

      .about-the-seller-top {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        margin-bottom: 25px;

        .profile-picture {
          width: 64px;
          height: 64px;
          margin-left: 0px;
          border-radius: 50%;
          border-style: hidden;
          margin-right: 20px;
          margin-bottom: initial;
        }

        svg {
          margin-right: 4px;
        }

        .seller-info-text {
          margin-left: initial;
          margin-right: initial;
          font-weight: 700;
          line-height: 1em;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          span{
            display: flex;
            align-items: center;
         }
          p {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .carousel-container {
      width: 90%;

      .selected-image-container {
        background-color: #f5f5f5;
      }

      .thumbnail-container {
        img {
          width: 100%;
          height: 12.9vh;
        }
      }
    }

    .about-this-gig {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #dadbdd;

      .gig-description {
        padding: 32px 24px 0px;

        p {
          color: #696b71;
          font-size: 16px;
        }

        li {
          list-style: unset;
        }

        h2 {
          padding: 0;
          font-size: 20px;
          font-weight: 700;
        }
      }

      h2 {
        padding: 32px 24px 0px;
        color: #404145;
      }
    }

    .about-the-seller-big {
      display: grid;
      margin-top: 30px;
      padding: 32px 24px 0px;
      grid-template-areas:
        "s"
        "pw ";
      margin-bottom: 10px;

      .profile-wrapper {
        grid-area: pw;
        display: flex;
        flex-direction: row;
      }

      span {
        margin-bottom: 30px;
        grid-area: s;
      }

      .seller-info-text {
        grid-area: t;
        margin-left: 19px;
        line-height: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 600;
       
        p {
          margin-top: 7px;
          margin-bottom: 31px;
          font-weight: 700;
        }

        //padding: 25px 13px ;
      }

      .profile-picture {
        grid-area: p;
        width: 98px;
        height: 98px;
        border-radius: 50%;
        border-style: hidden;
        margin-bottom: 15px;
      }

      svg {
        margin-right: 4px;
      }
    }

    .user-description {
      border: 1px solid #dadbdd;
      padding: 24px;
      grid-area: ud;
      width: 92%;
      border-radius: 4px;
      margin-bottom: 20px;

      .user-stats {
        display: flex;
        border-bottom: 1px solid #dadbdd;
        padding: 0;
        margin: 0;

        li {
          color: #74767e;
          font-size: 16px;
          padding-bottom: 16px;

          strong {
            color: #62646a;
          }
        }
        div {
          margin-right: 180px;
          margin-bottom: 20px;
        }
      }

      .user-story {
        padding-top: 15px;
        p {
          font-size: 16px;
          color: #62646a;
          margin-bottom: 0px;
        }
      }
    }
  }

  .big-side {
    display: none;
  }
}

.side-wrapper {
  display: flex;
  // position: sticky;
  grid-area: side;
  top: 120px;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  grid-area: side;
  margin-bottom: 180px;

  .package-content {
    margin-top: 10px;
    height: fit-content;
    border-top: 1px solid #dadbdd;
    border-left: 1px solid #dadbdd;
    border-right: 1px solid #dadbdd;
    border-bottom: 1px solid #dadbdd;

    .nav-container {
      display: flex;
      justify-content: space-around;

      button {
        text-align: center;
        min-width: 33.3333%;
        padding: 1rem;
        border: 0.5px solid #dadbdd;
        border-top: 0px;
        background-color: #fafafa;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: #74767e;
      }

      button.active {
        font-weight: bold;
        background-color: #ffffff;
        border-bottom: 3px solid #222325;
        color: #222325;
      }
    }

    .package-body {
      padding: 32px 24px 10px;
      min-height: 28vh;

      .included {
        font-weight: 700;
      }

      ul {
        padding: 0px;
        margin-top: 0;
      }
      .pack-description {
        p {
          margin: 0px;
          margin-top: 10px;
          font-size: 16px;
          margin-bottom: 10px;
        }

        h5 {
          font-weight: 700;
        }
      }

      .collapsible {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        color: #444;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        border: none;
        text-align: right;
        outline: none;
        font-size: 15px;
      }

      .content {
        display: none;
        overflow: hidden;
        margin-bottom: 10px;

        li {
          font-size: 14px;
          color: #95979d;
          display: flex;
          gap: 10px;

          svg {
            color: #222325;
          }
        }
      }

      .package-header {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        margin: 0;
        width: 100%;

        h5 {
          width: 60%;
          font-weight: 700;
          line-height: 24px;
        }

        div {
          width: 40%;
        }
      }

      .price-wrapper {
        display: grid;
        grid-auto-flow: column;
        gap: 2px;
        align-items: center;
        h3 {
          font-size: 20px;
          margin: 0;
        }
      }

      b {
        font-weight: 1000;
      }

      .delivery-wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        margin-top: 1em;
        align-items: center;
        h5 {
          font-weight: 700;
          color: #696b71;
          font-size: 14px;
          margin: 0;
        }
        svg {
          margin-right: 5px;
        }
      }

      button {
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        margin: auto;
        display: block;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .contact-seller {
    padding: 25px;
    // background-color: #fafafa;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
      width: 100%;
      height: 40px;
      background-color: #fafafa;
      color: black;
      border: 1px solid black;
      border-radius: 4px;
      margin: auto;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@media (min-width: 600px) {
  .gig-index {
    .gig-details {
      display: grid;
      grid-auto-flow: row;
      grid-template-areas:
        "dh"
        "carousel"
        "about";

      .details-header {
        grid-area: dh;
      }

      .carousel-container {
        grid-area: carousel;
        // padding: 0px;

        .selected-image-container {
          img {
            width: 95vw;
            height: 95vw;
          }
        }

        .indication-dots-wrapper {
          display: none;
        }

        .thumbnail-container {
          position: relative;
          width: 100%;
          background-color: white;

          img {
            width: 18vw;
            height: 12vw;
          }
        }
      }

      .about-this-gig {
        .gig-description {
          grid-area: description;
        }

        .side-wrapper {
          grid-area: side1;

          .contact-seller {
            background-color: #fafafa;
          }
        }

        h3 {
          grid-area: h;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .gig-index {
    display: grid;
    grid-template-areas: "details side1";
    padding: 0 32px 0;
    max-width: 1304px;
    margin: auto;

    .gig-details {
      grid-area: details;
      width: 93.42%;
      display: flex;
      flex-direction: column;
      margin-right: 3.15%;

      .details-header {
        grid-area: dh;
        padding: 0px;

        h1 {
          font-size: 1.5em;
          line-height: 1.3;
          padding-right: 10px;
          font-weight: 700;
        }
      }

      .carousel-container {
        background-color: #f5f5f5;
        width: 96%;
        position: relative;

        .selected-image-container {
          position: relative;
          height: 470px;

          .selected-image-wrapper {
            height: 100%;

            .selected-image {
              width: 100%;
              min-width: 100%;
              height: initial;
            }
          }

          .prev-button {
            left: -24px;
          }

          .next-button {
            right: -24px;
          }
        }

        .indication-dots-wrapper {
          display: none;
        }

        .thumbnail-container {
          overflow-x: clip;
          height: 84px;

          img {
            width: 100px;
            height: 60px;
          }
        }
      }

      .about-this-gig {
        margin-top: 20px;
        h2{
          font-size: 20px;
          font-weight: 700;
        }

        .gig-description {
          grid-area: description;
          padding: 20px 0px 0px;

          ul {
            padding: 15px;
            margin-left: 15px;
          }
        }

        .small-side {
          display: none;

          .side-wrapper {
            grid-area: side1;
          }
        }

        h2 {
          padding: 32px 0px 0px;
          font-size: 1em;
        }

        h3 {
          grid-area: h;
        }
      }

      .about-the-seller-big {
        grid-area: seller;
        padding: 32px 0px 0px;
        font-weight: 700;
        font-size: 20px;
      }

      .reviews {
        margin-top: 20px;
        .reviews-header{
          padding-top: 40px;
        }
        ul {
          padding: 0px;

          li {
            display: flex;
            flex-direction: row;
            border-top: 1px solid #dadbdd;
            padding: 40px 0px;

            .profile-picture {
              width: 60px;
              height: 60px;
              margin-left: 0px;
              border-radius: 50%;
              border-style: hidden;
              margin-right: 20px;
              margin-bottom: initial;
            }
            .review {
              .reviewed-at {
                font-size: 14px;
                color: #62646a;
              }

              p {
                font-size: 16px;
                font-weight: 500;
              }
              .review-header {
                margin-bottom: 10px;
                p {
                  font-weight: 700;
                  margin-bottom: 0px;
                }

                span {
                  display: flex;
                  flex-direction: row;
                  color: #62646a;
                  font-size: 14px;
                  padding-left: 8px;
                  .country-flag {
                    width: 20px;
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .big-side {
      display: block;
      margin-top: 80px;
      &.sticky .side-wrapper {
        position: sticky;
        top: 0;
      }

      .side-wrapper {
        width: 26vw;
        &.sticky {
          position: sticky;
          top: 0;
        }
      }
    }
  }
}