.gig-index{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "details packages";
    .gig-details{
        min-width: 42vw;
        margin: 10px;
        padding: 1.5rem;
        grid-area: details;
        .about-the-seller {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            
            .profile-picture{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border-style: hidden;
                margin-right: 20px;
            }
        }
    
    }
}
.side-wrapper{
    display: flex;
    position: sticky;
    top:120px;
    flex-direction: column;
    .package-content{
        margin-top: 10px;
        height: 350px;
        grid-area: packages;
        max-width: 30vw;
        border: 1px solid #dadbdd;
    
        .nav-container{
            min-width: 25vw;
            display: flex;
            justify-content: space-around;
            input{
                display: none;
            }
            label{
                text-align: center;
                min-width: 33%;
                padding: 1rem;
                border: 1px solid #dadbdd;
            }
            input:checked+label{
                font-weight: bold;
                border-bottom: 3px solid #222325;
            }
        }
        .package-body{
            padding: 10px;
            .price-wrapper{
                display: grid;
                grid-auto-flow: column;
                gap: 2px;
            }
            b{
                font-weight:1000;
            }
            .delivery-wrapper{
                display: flex;
                flex-direction: row;
                svg{
                    width: 16px;
                    padding-bottom: 20px;
                    margin-right: 5px;
                }
            }
            button{
                width: 90%;
                height: 40px;
                background-color: black;
                color: white;
                border: 1px solid transparent;
                border-radius: 4px;
                margin: auto; /* Add this line to center the button horizontally */
                display: block; /* Add this line to center the button horizontally */
            }
        }
    }
    .contact-seller{
        padding: 10px;
        background-color: #fafafa;
        height: 60px;
        margin-top: 20px;
        max-width: 30vw;
        button{
            width: 90%;
            height: 40px;
            background-color: #fafafa;
            color: black;
            border: 1px solid black;
            border-radius: 4px;
            margin: auto; /* Add this line to center the button horizontally */
            display: block;
        }
    }
}