.filter-title {
  display: flex;
  align-items: center;
  gap: 0.375em;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  margin-block-end: 0.5rem;
  margin-bottom: 30px;
  margin-top: 32px;

  .divider {
    margin-inline: 0.375em;
    font-size: 1em;
    font-weight: 100;
    color: #c5c6c9;
  }

  .home {
    line-height: 0.8125rem;
    height: 0.8125rem;
    width: 0.8125rem;
  }
  .home-title {
    &:hover {
      text-decoration: underline;
    }
  }
}
.category-header {
  color: $clr2;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  padding: 0.75rem 0;
}

.category-sub-header {
  color: $clr9;
}
.filter-btns-container {
  position: sticky;
  z-index: 3;
  top: 0;
  margin-block-start: 0.125rem;
  margin-block-end: 0.875rem;
  background: $clr7;
  .filter-btns {
    padding-block: 1rem;
    display: grid;
  }
}

.gigs-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
  grid-gap: 2rem;
  padding: 0px;

  li {
    list-style-type: none;
  }
}

.gig-list {
  .gig-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .img-container {
      flex: 1;
      width: 100%;
      margin-block-end: 0.4375rem;
    }
    .owner-details {
      display: flex;
      width: 100%;
      flex-direction: column;

      .owner-details-rate{
        span{
          padding-inline-start: 2px;
        }
      }
      .owner-details-header {
        display: flex;
        gap: 0.5rem;
        font-size: 14px;
      }
      .owner-details-gig-title {
        line-height: 0.8125rem;
        gap: 0.1875rem;
        align-items: center;
      }
    }

    .owner-gig-title {
      margin-top: 1.25rem;
      color: $clr3;
      display: -webkit-box;
      line-height: 1.6rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      min-height: 2.5em;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
    .gig-price {
      font-weight: 700;
      line-height: 1.5rem;
      margin-top: 0.5rem;
      margin-block-start: 0.5rem;
      font-size: 16px;
      color: $clr3;
    }
    .gig-img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1.69/1;
      object-fit: cover;
      border-radius: 0.5em;
      cursor: pointer;
      img {
        border-radius: 8px;
      }
    }
    .owner-rate {
      font-weight: 700;
    }
    .owner-number-rates {
      color: $clr9;
    }

    .owner-profile-img {
      border-radius: 50%;
      cursor: pointer;
      width: 1.5em;
    }

    .owner-fullname {
      font-weight: 700;
      line-height: 1.3125rem;
      cursor: pointer;
    }

    .level-number {
      margin-left: auto;
      font-weight: 600;
      line-height: 1.3125rem;
    }
  }
}
