// .car-list {
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     li {
//         background-color: $clr2;
//         color: $clr6;
//         padding: 5px;
//         margin: 5px;
//     }
//     a {
//         color: $clr1;
//         padding: 10px;
//     }
//     h3 {
//         background-color: #ddd;
//         padding: 10px 5px;
//         margin: 5px;
//     }
// }


.gigs-layout{

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(309px,1fr));
    grid-gap: 2rem;
    padding: 0px;

    li {

        list-style-type: none;
    }

}


.gig-list {

    .gig-preview{

        display: flex;
        flex-direction: column;
        align-items: start;

        .gig-img{
            width: 100%;
            aspect-ratio: 1.69/1;
            object-fit: cover;
            border: 1px solid #e4e5e7;
            border-radius: .5em;
            cursor: pointer;
        }
    }
}