

.filter-title{
    display: flex;
    align-items: center;
    gap: .375em;
    font-size: .875rem;
    letter-spacing: .2px;
    margin-block-end: 0.5rem;

    .divider{
        margin-inline: .375em;
        font-size: 1.125em;
        font-weight: 100;
        color: $clr4;
    }

    .home{
        line-height: .8125rem;
        height: .8125rem;
        width: .8125rem;
    }


}
.category-header{
    color: $clr2;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
    padding: .75rem 0;
}

.category-sub-header{
    color: $clr9;
}
.gigs-layout{

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(309px,1fr));
    grid-gap: 2rem;
    padding: 0px;

    li {

        list-style-type: none;
    }

}


.gig-list {

    .gig-preview{

        display: flex;
        flex-direction: column;
        align-items: start;

        .gig-img{
            width: 100%;
            aspect-ratio: 1.69/1;
            object-fit: cover;
            border: 1px solid #e4e5e7;
            border-radius: .5em;
            cursor: pointer;
        }
    }
}