.hero {
  height: 760px;
  position: relative;
  z-index: 0;
  padding-top: 80px;
  margin: 0 auto 24px;
  margin-bottom: 0;

  .max-width-container {
    position: absolute;
    z-index: 2;

    .hp-hero-content {
      margin-top: 100px;
      margin-left: 10px;
      width: 650px;

      h1 {
        color: white;
        font-size: 48px;

        i {
          font-family: "DomaineDisplay", serif;
          font-style: italic;
        }
      }
    }
  }

  .hp-hero-search-bar {
    form {
      display: flex;
      input {
        width: 90%;
        height: 45px;
        border: none;
        border-radius: 4px 0 0 4px;
        font-size: 1rem;
        padding-left: 10px;
        outline: none;
      }
      button {
        height: 45px;
        width: 60px;
        background-color: $clr1;
        border-radius: 0 4px 4px 0;
        border: none;

        &:hover {
          background-color: darken($clr1, 5%);
        }
      }
    }
  }

  .popular-tags {
    display: flex;
    margin: 10px;
    button {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50px;
      height: fit-content;
      padding: 4px 10px;
      margin: 5px;
      color: white;
      font-size: 0.9rem;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background-color: white;
        color: #404145;
      }
    }

    p {
      display: flex;
      align-items: center;
      color: white;
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0;
    }
  }

  .hero-backgrounds {
    .hero-background {
      background-position: bottom;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: auto 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 32px 32px;
      transition: opacity 0.9s;
      &.hero-jenny {
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_1.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616487/jenny-2x.jpg);
        background-color: #0a4226;
      }
      &.hero-colin {
        background-color: #a7445a;
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_1.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616493/colin-2x.jpg);
      }
      &.hero-scarlett {
        background-color: #5f1628;
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_1.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616487/scarlett-2x.jpg);
      }
      &.hero-jordan {
        background-color: #0f4926;
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_1.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616493/jordan-2x.jpg);
      }
      &.hero-christina {
        background-color: #ad3906;
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_1.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616497/christina-2x.jpg);
      }
      .blured-box {
        grid-gap: 12px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: hsla(0, 0%, 100%, 0.14);
        border: 1px solid hsla(0, 0%, 100%, 0.4);
        border-radius: 1600px;
        bottom: 0;
        box-shadow: 0 20px 30px 0 rgba(0, 37, 19, 0.2);
        color: #fff;
        display: flex;
        padding: 12px 24px 12px 12px;
        position: relative;
        right: 0;
        .worker-image {
          img {
            display: block;
            height: 40px;
            width: 40px;
          }
        }
        .worker-details {
          display: flex;
          font-size: 12px;
          font-weight: 600;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          flex-direction: column;

          font-size: 16px;
          .name {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

.trusted-by {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #f5f5f5;
  padding-block: 20px;
  margin-bottom: 96px;
  img {
    width: 80px;
    max-height: 60px;
  }

  .trusted-by-text {
    color: #b5b6ba;
    font-weight: 600;
    padding-right: 20px;
  }
}

.popular-services h2 {
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.selling-proposition-wrapper{
  background-color: #f1fdf7;
  padding: 96px 0;


  h2{
    font-size: 32px;
    font-weight: bold;
  }
  .selling-proposition{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  .selling-proposition-left {
    width: 50%;
    padding-right: 180px;

    ul{
      padding: 0; 

      li{

    
    h6{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: inherit;
      font-weight: 600;
    }  
  }
  }
  }

  .selling-proposition-right {
    width: 50%;
    img{
      width: 100%;
    }
  }
}
}
