.home-page {
  background: linear-gradient(180deg, #003912 36.72%, #19aa64 141.43%);
  margin: 0 0 16px;
  position: relative;
  padding: 20px;
  .hp-hero {
    .hp-hero-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      h1 {
        align-self: center;
        color: #fff;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -1.2px;
        line-height: 93%;
        max-width: 320px;
        text-align: center;
        margin-inline: auto;
        i {
          color: $clr1;
        }
      }
      .hp-hero-search-bar {
        .hp-search-form {
          display: flex;
          position: relative;
          input {
            border: 1px solid #c5c6c9;
            padding: 12px 2px 12px 16px;
            flex: 1;
            font-size: 16px;
            border-radius: 8px;

            &:focus-visible {
              outline: none;
            }
          }
          .inside-button {
            background-color: #003912;
            border-radius: 8px;
            border: none;
            height: 35px;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            &:hover {
              background-color: #126f43;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .home-page {
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/84c449beda884aa8f9f72023e2d8b3fd-1705308514875/hero-md-x1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 370px;
    padding: 0;
  }
}
