.new-gig {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-block-start: 3.125rem;
    margin-block-end: 2.5rem;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
   
    @include for-narrow-layout {
        margin-top: 3.125rem;
        padding-inline: 0;
    }
    @include for-normal-layout {
        grid-template-columns: minmax(auto,700px) 1fr;
        padding-inline: 1.875rem;
        column-gap: 6.375rem;
        row-gap: 1.25rem;
        margin-top: 3.125rem;
    }
    @include for-wide-layout {
      grid-template-columns:
        minmax(20px, 1.5fr)        
        minmax(20px, 1fr);
    }

    .section-heading{
        grid-column: 1/-1;
        display: grid;
        gap: .9375rem;
        margin-block-end: 1.25rem;
    }

    .heading{
        color: #1dbf73;
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .sub-heading{
        font-size: 1.5rem;
        color: #74767e;
        font-weight: 400;
        margin-block-end: 1.25rem;
    }

    .create-gig{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .75em;
        margin-block-end: 1.5625em;
    }

    }
    .form-label{
        min-width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        gap: 1.3125rem;
        color: #404145;
        justify-content: space-between;

         >*:first-child  {            
            display: flex;
            flex-direction: column;
            flex: 1;    
            .sub-title {
                font-size: .875rem;
                font-weight: 400;
                color: #95979d;
            } 
        }

        >*:last-child{
            flex: 1;

            
        }   
        
        >*.input-desc{
            height: 14.1875rem;
            resize: none;
            color: #62646a;
        }
       
    
    }

  