@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Macan";
  src: url(/fonts/MacanPanWeb-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DomaineDisp";
  src: url(/fonts/DomaineDisp-Regular.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}
