$primary-text-color: #222325;
$clr1: #1dbf73; // for logo dot & join button & search button
$clr2: #404145; // logo text color & titles
$clr3: #1a1b1c; //
$clr4: #62646a;
$clr5: #b5b6ba;
$clr6: #dff0ea;
$clr7: #fff;
$clr8: #0a4226;
$clr9: #74767e; // For sub category

// Background colors
$background-color-lg: #f5f5f5; // light gray background color
$background-color-primary: #fff; // Dark background color

// Button colors
$button-color: $clr1;
$button-text-color: $background-color-primary;
$button-hover-color: darken($clr1, 10%);

// Link colors
$link-color: #74767e;
$link-hover-color: $clr1;

// Border colors
$border-color: #dddddd;

// Other UI elements
$navbar-background: $background-color-primary;
$footer-background: $background-color-primary;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 600px;
$normal-breakpoint: 1160px;
$wide-breakpoint: 1200px;
